.photo-grid {
    margin: 0 48px 12px;
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
  .photo-grid {
    margin: 0 24px 15px;
  }
}


@media screen and (max-width: 767px) {
  .photo-grid {
    margin: 0 16px 14px;
  }
}