.cover__explain-baikal-offer {
    margin-top: 32px;
    margin-bottom: 245px;
    width: 360px;
    font-family: "Inter-Regular", 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 1.2;
  }
  
  
  @media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover__explain-baikal-offer {
      margin-bottom: 195px;
  
    }
  }
      
    
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover__explain-baikal-offer {
      margin-bottom: 115px;
    }
  }
    
  
  @media screen and (max-width: 767px) {
    .cover__explain-baikal-offer {
      width: 288px;
      margin-top: 16px;
      margin-bottom: 33px;
      font-size: 14px;
      line-height: 1.25;
    }
  }