.footer__external-link {
  font-family: "Inter-Regular", 'Arial', 'Helvetica', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.22;
  margin-right: 18px;
}

  
@media screen and (max-width: 767px) {
  .footer__external-link {
    font-size: 24px;
    line-height: 1;
  }
}