.lead__caption {
  margin-top: 8px;
  align-self: start;
  font-size: 10px;
  line-height: 1.28;
  letter-spacing: 1.5px;
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}


@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}